<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>suit.Developement</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Test_02</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test_01</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test_06</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test_05</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test_04</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test_03</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
