<h2>Methods that were not run</h2><table>
<tr><td>suit.Developement.Test_05<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Swipe down and Tap scenario</i></td></tr>
<tr><td>suit.Developement.Test_04<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Context change scenario and verification</i></td></tr>
<tr><td>suit.Developement.Test_01<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify elements in Events page</i></td></tr>
<tr><td>suit.Developement.Test_03<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>User log out successfully</i></td></tr>
<tr><td>suit.Developement.Test_02<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Navigate to Profile page, verify details and login succesfully</i></td></tr>
</table>